@font-face {
    font-family: "RobotoSlab";
    src: url('./assets/fonts/RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: "EduVICWANTBeginner Regular";
    src: url('./assets/fonts/EduVICWANTBeginner-Regular.ttf');
}

@font-face {
    font-family: "EduVICWANTBeginner Medium";
    src: url('./assets/fonts/EduVICWANTBeginner-Medium.ttf');
}

@font-face {
    font-family: "Raleway ExtraLight";
    src: url('./assets/fonts/Raleway-ExtraLight.ttf');
}

@font-face {
    font-family: "Raleway ExtraLight Italic";
    src: url('./assets/fonts/Raleway-ExtraLightItalic.ttf');
}

@font-face {
    font-family: "Raleway Light";
    src: url('./assets/fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: "Raleway Light Italic";
    src: url('./assets/fonts/Raleway-LightItalic.ttf');
}

@font-face {
    font-family: "Raleway Regular";
    src: url('./assets/fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: "Monserrat Bold";
    src: url('./assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: "Monserrat ExtraBold";
    src: url('./assets/fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: "Monserrat Regular";
    src: url('./assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "OpenSans Regular";
    src: url('./assets/fonts/OpenSans-Regular.ttf');
}