html,
body {
  font-size: 21px;
  font-family: "RobotoSlab", "Raleway Regular", "EduVICWANTBeginner Regular";
  line-height: 1.4;
}

a {
  font-family: "Raleway Regular";
  text-decoration: none;
}

h1
{
  font-family: "Monserrat ExtraBold";
  font-size: 28px;
}

h2 {
    font-family: "EduVICWANTBeginner Medium";
    font-size: 32px;
}

.intro {
  font-family: "Monserrat Bold";
}