* {
  margin: 0;
  padding: 0;
}

html, body
 {
  font-size: 21px;
 font-family: "RobotoSlab", "Raleway Regular", "EduVICWANTBeginner Regular";
  line-height: 1.4;
  color: $textColor;
  background: $mainBackgroundColor;

  @include small-only {
    width: fit-content;
  }

  @include medium {
    width: fit-content;
  }

  @include extra-large {
    width: auto;
  }

}

.header {
  width: 100%;
}

a {
  font-family: "Raleway Regular";
  text-decoration: none;
}

h1
{
  font-family: "Monserrat ExtraBold";
  font-size: 28px;
}

h2 {
    font-family: "EduVICWANTBeginner Medium";
    font-size: 32px;
}

.intro {
  font-family: "Monserrat Bold";
}

span {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(119, 116, 116, 0.664);
  text-shadow: #312044 1px 1px 1px;
}