.header {
  background-image: url(https://images.pexels.com/photos/5473298/pexels-photo-5473298.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  width: 100%;
  text-align: center;

  .resume-header {
    display: flex;
  }

  .navigation {
    width: 100%;
    height: 100%,
  }

  .menuContent {
    display: flex;
  }

  .welcome {
    display: flex;
    box-sizing: border-box;
    background-color: rgb(245, 244, 244);
    width: 15%;
  }

  #hello {
    color: black;
    font-weight: bold;
    font-style: oblique;
    border: none;
  }

  .menu_item {
    width: 100%;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em;
    background-repeat: no-repeat;
    background-size: cover;
     height: 4em;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    text-shadow: black 6px 6px 8px;
    font-size: 21px;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

    margin-left: 0px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  a:hover {
    height: 100%;
    width: 100%;

    -webkit-filter: grayscale(0);
    filter: grayscale(0);

    margin-left: -30px;

  }

  .myself {
    color: $mainBackgroundColor;
    text-shadow: black 1px 5px 10px;
    display: flex;
    flex-direction: column;
    padding: 3em;
    line-height: 3em;
    box-sizing: border-box;
    box-shadow: white 1px 5px 10px;
    background-color: rgba(17, 8, 51, 0.288);
    margin-top: 50px;
    margin: 10em 15em 15em;
  }

  .name {
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .job {
    font-size: 36px;
    color: #ff3740;
  }

  .intro {
    font-size: 16px;
    text-transform: lowercase;
    font-style: italic;
    margin-top: 2em;
  }


  .header_bg_img {
    height: 100%;
  }
}