.my_portfolio {

    h1, .introduction {
        text-align: center;
    }

    h1 {
       position: relative;
       padding-top: 2em;
       text-shadow: 0px 1px 16px #031421;
       letter-spacing: 10px;
    }


    .introduction {
        padding-top: 4em;
    }

    p{
        font-size: 18px;
    }
    .tbc {
        font-style: italic;
        font-size: 16px;
    }


}
